# root file
root = true

# match all files
[*]
#
charset = utf-8
# Line wrap at the end of the line
end_of_line = lf
# Indent the number of columns
indent_size = 2
# Space indent style
indent_style = space
# Insert new line at the end of text
insert_final_newline = true
# Maximum length of each row
max_line_length = 120
# Number of columns occupied by tab
tab_width = 2
# Remove the whitespace at the end of the line
trim_trailing_whitespace = true
